{% extends '../includes/base.html' %}
{% load static %}
{% block content %}

        <!-- Page Container START -->
        <div class="page-container">
          <!-- Content Wrapper START -->
          <div class="main-content">
            <div class="container-fluid">
              <!-- Breadcrumb Start -->
              <div class="breadcrumb-wrapper row">
                <div class="col-12 col-lg-3 col-md-6">
                  <h4 class="page-title">Projects</h4>
                </div>
                <div class="col-12 col-lg-9 col-md-6">
                  <ol class="breadcrumb float-right">
                    <li><a href="index.html">Projects</a></li>
                    <li class="active"> / Add Project</li>
                  </ol>
                </div>
              </div>
              <!-- Breadcrumb End -->
            </div>

            <div class="container-fluid">
              <div class="row">

                  
                <!-- Right Sidebar -->
                <div class="col-lg-9">
                    
                  <div class="card">
                    <div class="card-body">
                      <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="To">
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6">
                              <input type="email" class="form-control" placeholder="Cc">
                            </div>
                            <div class="col-md-6">
                              <input type="email" class="form-control" placeholder="Bcc">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Subject">
                        </div>
                        <div class="form-group">
                          <textarea id="elm1" name="area"></textarea>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="btn-toolbar" role="toolbar">
                        <div class="m-b-20">
                          <!-- <button type="button" class="btn btn-common"><i class="lni-save"></i></button> -->
                          <button type="button" class="btn btn-common"> <span>Add</span></i></button>
                          <!-- <button class="btn btn-info"> <span>Send</span> <i class="lni-pointer m-r-5"></i> </button> -->
                        </div>
                      </div>
                    </div>
                  </div>


                </div> 
              </div><!-- End row -->            
            </div> <!-- container -->
          </div>
          <!-- Content Wrapper END -->

        </div>
        <!-- Page Container END -->
      </div>
    </div>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'backend/assets/js/jquery-min.js' %}"></script>
    <script src="{% static 'backend/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'backend/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'backend/assets/js/jquery.app.js' %}"></script>
    <script src="{% static 'backend/assets/js/main.js' %}"></script>

    <!--Wysiwig js-->
    <script src="{% static 'backend/assets/plugins/tinymce/tinymce.min.js' %}"></script>

    <script>
      $(document).ready(function () {
        if($("#elm1").length > 0){
            tinymce.init({
                selector: "textarea#elm1",
                theme: "modern",
                height: 200,
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                style_formats: [
                    {title: 'Bold text', inline: 'b'},
                    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                    {title: 'Example 1', inline: 'span', classes: 'example1'},
                    {title: 'Example 2', inline: 'span', classes: 'example2'},
                    {title: 'Table styles'},
                    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                ]
            });
          }
        });
    </script>

  </body>
</html>
{% endblock %}