{% extends '../includes/base.html' %}
{% load static %}
{% block content %}

        <!-- Page Container START -->
        <div class="page-container">
          <!-- Content Wrapper START -->
          <div class="main-content">
            <div class="container-fluid">
              <!-- Breadcrumb Start -->
              <div class="breadcrumb-wrapper row">
                <div class="col-12 col-lg-3 col-md-6">
                  <h4 class="page-title">Add Blog</h4>
                </div>
                <div class="col-12 col-lg-9 col-md-6">
                  <ol class="breadcrumb float-right">
                    <li><a href="#">Blogs</a></li>
                    <li class="active"> / Add Blog</li>
                  </ol>
                </div>
              </div>
              <!-- Breadcrumb End -->
            </div>

            <div class="container-fluid">
              <div class="row">

                <!-- Right Sidebar -->
                <div class="col-lg-12">
                    
                  <div class="card">
                    <div class="card-body">
                      <form method="POST" action="{% url 'blogs:add-blog' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                          <!-- <input type="email" class="form-control" placeholder="To"> -->
                          {{ blog_form.title }}
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6 ">
                              <!-- <input type="email" class="form-control" placeholder="Cc"> -->
                              {{ blog_form.thematic_area }}
                            </div>
                            <div class="col-md-6">
                              <!-- <input type="email" class="form-control" placeholder="Bcc"> -->
                              {{ blog_form.thumbnail }}
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <!-- <input type="text" class="form-control" placeholder="Subject"> -->
                          {{ blog_form.description }}
                        </div>
                        <div class="form-group">
                          <!-- <textarea id="elm1" name="area"></textarea> -->
                          {{ blog_form.media }}
                          {{ blog_form.body | safe }}
                        </div>

                        <div class="row">
                          <div class="col-lg-12">
                            <div class="btn-toolbar" role="toolbar">
                              <div class="m-b-20">
                                <!-- <button type="button" class="btn btn-common"><i class="lni-save"></i></button> -->
                                <button type="submit" class="btn btn-common pull-right"> <span>Add</span></i></button>
                                <a href="{% url 'users:dashboard' %}" class="btn btn-info"> <span>Cancel</span></a>
                              </div>
                            </div>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>

                </div> 
              </div><!-- End row -->            
            </div> <!-- container -->
          </div>
          <!-- Content Wrapper END -->

        </div>
        <!-- Page Container END -->
      </div>
    </div>

{% endblock %}