{% load static %}
    <!-- Preloader -->
    <!-- <div id="preloader">
        <div class="loader" id="loader-1"></div>
      </div> -->
      <!-- End Preloader -->
  
       <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{% static 'backend/assets/js/jquery-min.js' %}"></script>
      <script src="{% static 'backend/assets/js/popper.min.js' %}"></script>
      <script src="{% static 'backend/assets/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'backend/assets/js/jquery.app.js' %}"></script>
      <script src="{% static 'backend/assets/js/main.js' %}"></script>
  
    </body>
  </html>
    
