
    <!--====== FOOTER PART START ======-->
    {% load static %}
    <footer id="footer" class="footer_area">
      <div class="container">
          <div class="footer_widget pt-70 pb-120">
              <div class="row justify-content-center">
                  <div class="col-lg-3 col-md-6">
                      <div class="footer_about mt-50">
                          <div class="footer_logo">
                              <a href="#"><img src="{% static 'frontend/assets/images/logo.png' %}" alt=""></a>
                          </div>
                          <div class="footer_content">
                              <p>EmpowerHER Mind is an innovative initiative designed to leverage the vast potential of technology to uplift and empower girls and women in Africa.</p>
                          </div>
                      </div> <!-- footer about -->
                  </div>
                  <div class="col-lg-5 col-md-6">
                      <div class="footer_link_wrapper d-flex flex-wrap">
                          <div class="footer_link mt-50">
                              <h2 class="footer_title">Quick Links</h2>
                              <ul class="link">
                                  <li><a href="{% url 'users:login' %}">Staff Login</a></li>
                                  <li><a href="#">Privacy Policy</a></li>
                                  <li><a href="#">About</a></li>
                              </ul>
                          </div> <!-- footer link -->
                          <div class="footer_link mt-50">
                              <h2 class="footer_title">Resources</h2>
                              <ul class="link">
                                  <li><a href="#">Support</a></li>
                                  <li><a href="#">Contact</a></li>
                                  <li><a href="#">Terms</a></li>
                              </ul>
                          </div> <!-- footer link -->
                      </div> <!-- footer link wrapper -->
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="footer_subscribe mt-50">
                          <h2 class="footer_title">Newsletter</h2>
                          <div class="subscribe_form text-right">
                              <form action="#">
                                  <input type="text" placeholder="Enter email">
                                  <button class="main-btn">Subscribe</button>
                              </form>
                          </div>
                      </div> <!-- footer subscribe -->
                  </div>
              </div> <!-- row -->
          </div> <!-- footer widget -->
          <div class="footer_copyright d-sm-flex justify-content-between">
              <div class="footer_social text-center">
                  <ul class="social">
                      <li><a href="https://facebook.com/uideckHQ"><i class="lni lni-facebook-filled"></i></a></li>
                      <li><a href="https://twitter.com/uideckHQ"><i class="lni lni-twitter-filled"></i></a></li>
                      <li><a href="https://instagram.com/uideckHQ"><i class="lni lni-instagram-original"></i></a></li>
                      <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                  </ul>
              </div> <!-- footer social -->
              <div class="footer_copyright_content  text-center">
                  <p>Designed and Developed by <a href="https://nsoma.me" rel="nofollow">nsoma</a></p>
              </div> <!-- footer copyright content -->
          </div> <!-- footer copyright -->
      </div> <!-- container -->
  </footer>

  <!--====== FOOTER PART ENDS ======-->
  
  <!--====== BACK TOP TOP PART START ======-->

  <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

  <!--====== BACK TOP TOP PART ENDS ======-->    

  <!--====== PART START ======-->

<!--
  <section class="">
      <div class="container">
          <div class="row">
              <div class="col-lg-">
                  
              </div>
          </div>
      </div>
  </section>
-->

  <!--====== PART ENDS ======-->


  <!--====== Jquery js ======-->
  <script src="{% static 'frontend/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
  <script src="frontend/assets/js/vendor/modernizr-3.7.1.min.js"></script>

  <!--====== Bootstrap js ======-->
  <script src="{% static 'frontend/assets/js/popper.min.js' %}"></script>
  <script src="{% static 'frontend/assets/js/bootstrap.min.js' %}"></script>

  <!--====== Scrolling Nav js ======-->
  <script src="{% static 'frontend/assets/js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'frontend/assets/js/scrolling-nav.js' %}"></script>

  <!--====== Wow js ======-->
  <script src="{% static 'frontend/assets/js/wow.min.js' %}"></script>

  <!--====== Main js ======-->
  <script src="{% static 'frontend/assets/js/main.js' %}"></script>

</body>

</html>
