
{% extends '../includes/base.html' %}
{% load static %}
{% block content %}

<div id="home" class="header_hero d-lg-flex align-items-center">
    <div class="hero_shape shape_1">
        <img src="{% static 'frontend/assets/images/shape/shape-1.svg' %}" alt="shape">
    </div><!-- hero shape -->
    <div class="hero_shape shape_2">
        <img src="{% static 'frontend/assets/images/shape/shape-2.svg' %}" alt="shape">
    </div><!-- hero shape -->
    <div class="hero_shape shape_3">
        <img src="{% static 'frontend/assets/images/shape/shape-3.svg' %}" alt="shape">
    </div><!-- hero shape -->
    <div class="hero_shape shape_4">
        <img src="{% static 'frontend/assets/images/shape/shape-4.svg' %}" alt="shape">
    </div><!-- hero shape -->
    <div class="hero_shape shape_6">
        <img src="{% static 'frontend/assets/images/shape/shape-1.svg' %}" alt="shape">
    </div><!-- hero shape -->
    <div class="hero_shape shape_7">
        <img src="{% static 'frontend/assets/images/shape/shape-4.svg' %}" alt="shape">
    </div><!-- hero shape -->
    <div class="hero_shape shape_8">
        <img src="{% static 'frontend/assets/images/shape/shape-3.svg' %}" alt="shape">
    </div><!-- hero shape -->
    <div class="hero_shape shape_9">
        <img src="{% static 'frontend/assets/images/shape/shape-2.svg' %}" alt="shape">
    </div><!-- hero shape -->
    <div class="hero_shape shape_10">
        <img src="{% static 'frontend/assets/images/shape/shape-4.svg' %}" alt="shape">
    </div><!-- hero shape -->
    <div class="hero_shape shape_11">
        <img src="{% static 'frontend/assets/images/shape/shape-1.svg' %}" alt="shape">
    </div><!-- hero shape -->
    <div class="hero_shape shape_12">
        <img src="{% static 'frontend/assets/images/shape/shape-2.svg' %}" alt="shape">
    </div><!-- hero shape -->

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="header_hero_content">
                    <h2 class="hero_title wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">Building Confident and Creative  <span>Women</span></h2>
                    <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">EmpowerHER Mind is an innovative initiative designed to leverage the vast potential of technology to uplift and empower girls and women in Africa.</p>
                    <ul>
                        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s"><a class="main-btn" rel="nofollow" href="#about">Read More</a></li>
                    </ul>
                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="header_shape d-none d-lg-block"></div>

    <div class="header_image d-flex align-items-center">
        <div class="image">
            <img class="wow fadeInRightBig rounded-circle shadow-4-strong" data-wow-duration="2s" data-wow-delay="1.6s" src="{% static 'frontend/assets/images/header.png' %}" alt="Header Image">
        </div>
    </div> <!-- header image -->
</div> <!-- header hero -->
</section>

    <!--====== ABOUT PART START ======-->

    <section id="why" class="about_area pt-115 ">
        <div class="about_image d-flex align-items-end justify-content-end">
            <div class="image">
                <img class="wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s" src="{% static 'frontend/assets/images/about.png' %}" alt="about">
            </div>
        </div> <!-- about image -->
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6">
                    <div class="about_content wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                        <div class="section_title pb-35">
                            <h5 class="sub_title">About EmpowerHER Mind</h5>
                            <h4 class="main_title">Building Creative and Innovative Women Across Africa</h4>
                        </div> <!-- section title -->
                        <p class="justify-content-center">EmpowerHER Mind is brought to life by a team passionate about making a difference in the lives of women and girls. Through technology, education, and empowerment, we believe in creating a world where every woman can thrive. EmpowerHER Minds is more than an initiative; it's a commitment to building a society where women lead with confidence and contribute positively. By empowering them to recognize their worth and navigate the digital world wisely, we're not just shaping their futures, we're shaping the future of our global community.</p>
                        <ul class="about_list">
                            <li class="d-flex">
                                <div class="about_check">
                                    <i class="lni lni-checkmark-circle"></i>
                                </div>
                                <div class="about_list_content">
                                    <p class="justify-content-center"><b>Vision:</b> To ignite a movement where girls and women are bold, confident, and creative - transforming them into architects of their destinies and pioneers of innovative solutions.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="about_check">
                                    <i class="lni lni-checkmark-circle"></i>
                                </div>
                                <div class="about_list_content">
                                    <p class="justify-content-center"><b>Goal:</b> To create an inclusive digital haven that nurtures mental resilience, fosters financial freedom, and condones just and equal laws for young ladies and women. Girls and women of all roots, philosophies, and special notes are zealous to breakthrough, breaking ceilings, and structuring fraternities, not cliques.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- about content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->

        <!--====== SERVICES PART START ======-->

        <section class="services_area pt-115" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center pb-25">
                            <h5 class="sub_title">About</h5>
                            <h4 class="main_title">What we do?</h4>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-7">
                        <div class="single_services text-center mt-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="services_icon">
                                <i class="lni lni-bulb"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="94" height="92" viewBox="0 0 94 92">
                                    <path class="services_shape" id="Polygon_12" data-name="Polygon 12" d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z" />
                                </svg>
                            </div>
                            <div class="services_content">
                                <h3 class="services_title"><a href="#">The CREATIVE TANK</a></h3>
                                <p>A mentorship program connecting girls/women with leaders in professional careers, finance, entrepreneurship, and innovation, aiming to break stereotypes and empower women to achieve their dreams.
                                </p>
                            </div>
                        </div> <!-- single services -->
                    </div>
                    <div class="col-lg-4 col-sm-7">
                        <div class="single_services text-center mt-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="services_icon">
                                <i class="lni lni-write"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="94" height="92" viewBox="0 0 94 92">
                                    <path class="services_shape" id="Polygon_12" data-name="Polygon 12" d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z" />
                                </svg>
                            </div>
                            <div class="services_content">
                                <h3 class="services_title"><a href="#">Digital Literacy and Mental Health</a></h3>
                                <p>Classes on internet safety, cyberbullying prevention, and positive online behavior, coupled with sessions on mental wellness and self-care.
                                </p>
                            </div>
                        </div> <!-- single services -->
                    </div>
                    <div class="col-lg-4 col-sm-7">
                        <div class="single_services text-center mt-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                            <div class="services_icon">
                                <i class="lni lni-mic"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="94" height="92" viewBox="0 0 94 92">
                                    <path class="services_shape" id="Polygon_12" data-name="Polygon 12" d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z" />
                                </svg>
                            </div>
                            <div class="services_content">
                                <h3 class="services_title"><a href="#">The ASPIRE Podcast Network</a></h3>
                                <p>Real-life success stories from women who've overcome obstacles, aimed at inspiring and teaching valuable lessons in perseverance and resilience.
                                </p>
                            </div>
                        </div> <!-- single services -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>
    
        <!--====== SERVICES PART ENDS ======-->

    <!--====== SERVICES PART START ======-->

    <!--====== SERVICES PART ENDS ======-->

    <!--====== BLOG PART START ======-->
{% if blogs %}
    <section id="blogs" class="blog_area pt-115">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center pb-25">
                        <h5 class="sub_title">Blogs</h5>
                        <h4 class="main_title">Our Blogs</h4>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                {% for blog in blogs %}
                <div class="col-lg-4 col-md-7">
                    <div class="single_blog mt-30 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
                        <div class="blog_image">
                            <img src="{{ blog.thumbnail.url }}" alt="blog">
                        </div>
                        <div class="blog_content">
                            <ul class="blog_meta d-flex justify-content-between">
                                <li>By: <a href="#"> {{ blog.publisher.first_name }} {{ blog.publisher.last_name }}</a></li>
                                <li>{{ blog.created_at | date }}</li>
                            </ul>
                            <h3 class="blog_title"><a href="blogs/blog/{{ blog.slug }}">{{ blog.title }}</a></h3>
                            <a href="blogs/blog/{{ blog.slug }}" class="read-more">Read More</a>
                        </div>
                    </div> <!-- row -->
                </div>
                {% endfor %}
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <br>
{% endif %}
    <!--====== BLOG PART ENDS ======-->

   <br><br>
    <!--====== CONTACT PART START ======-->

    <section id="contact" class="contact_area pt-70 pb-120">
        <div class="contact_image d-flex align-items-center justify-content-end">
            <div class="image">
                <img class="wow fadeInLeftBig" data-wow-duration="2s" data-wow-delay="0.4s" src="{% static 'frontend/assets/images/contact.png' %}" alt="about">
            </div>
        </div> <!-- about image -->
        
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6">
                    <div class="contact_wrapper mt-45 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
                        <div class="section_title pb-15">
                            <h5 class="sub_title">Contact</h5>
                            <h4 class="main_title">Get In Touch</h4>
                            <p>Lorem ipsum dolor sitrg amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div> <!-- section title -->
                        
                        <div class="contact_form">
                            <form id="contact-form" action="{% static 'frontend/assets/contact.php' %}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single_form">
                                            <input name="name" type="text" placeholder="Name">
                                        </div> <!-- single form -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single_form">
                                            <input name="email" type="email" placeholder="Email">
                                        </div> <!-- single form -->
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single_form">
                                            <textarea name="message" placeholder="Message"></textarea>
                                        </div> <!-- single form -->
                                    </div>
                                    <p class="form-message"></p>
                                    <div class="col-md-12">
                                        <div class="single_form">
                                            <button class="main-btn">Submit</button>
                                        </div> <!-- single form -->
                                    </div>
                                </div> <!-- row -->
                            </form>
                        </div> <!-- contact form -->
                    </div> <!-- contact wrapper -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <!--====== CONTACT PART ENDS ======-->
    {% endblock %}